.right {
  float: right;
  border: 10px solid darkred;
  background-color: rgba(128, 161, 184, 0.493);
  padding: 10px;
}

.box {
  float: left;
  width: 50%;
  padding: 10px;
  border: solid green;
  border-width: 10px;
  background-color: rgb(157, 184, 157);
  box-sizing: border-box;
}

.strong {
  font-style: bold;
  font-size: 25px;
  float: left;
}

.left {
  float: left;
  border: gray;
  border-width: 10px;
}

img {
  width: 50%;
  padding: 10px;
}