.right {
  float: right;
  border: 10px solid darkred;
  background-color: rgba(128, 161, 184, 0.493);
  padding: 10px;
}

.column {
  float: left;
  width: 200px;
}

img {
  float: left;
  width: 200px;
  padding: 10px;
}